body {
    background-color: #121a15;
    color: white;
    font-family: Arial, sans-serif;
}

.player-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.player-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.player-info {
    flex-grow: 1;
}

.player-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.champ-list {
    margin: 5px 0;
    padding-left: 20px;
}
